@import "root.css";

* {
    font-family: var(--font-stack);
}

body {
    display: flex;
    flex-direction: column;
}

#navigation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background: var(--primary-bg-color);
}

#title {
    display: flex;
    justify-content: center;
    font-family: var(--font-accent);
}

#title h1 {
    display: block;
    width: 100%;
}

#logo {
    max-width: 100%;
    width: 150px;
    height: auto;
}

aside {
    background: var(--primary-bg-color);
}