:root{
    --primary-color: #5F9598;
    --accent-color: #F3F4F4;
    --primary-bg-color: #1D546D;
    --accent-bg-color: #061E29;
    --font-stack: Helvetica, Arial, sans-serif;
    --font-accent: Georgia, Verdana, sans-serif;
}